<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create/Edit Map Page</title>
  </head>
  <body>
    <nav id="nav-bar">
      <img class="logo" src="/images/bird.png">
      <span class="header">Map.it</span>
    </nav>
    <main class="container">
        <section id="create/edit map">
        <article>
          <header>
           <h1> Favorite Restaurants in Vancouver </h1>
           <span> @Vancouver, BC </span>
           </header>
             <div> Map Image </div>
           <footer>
             <span> Created 10 days ago by Shannon </span>
           </footer>
            <form method="POST" action="/maps/<%=id%>?_method=PUT">
              <input value="<%=title%>" name= title> </input>
              <br>
            <button type="submit">Click here to Update Map w/ Changes</button>
            </form>
        </article>
        </section>
    </main>
  </body>
</html>
