<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User Page</title>
  </head>
  <body>
    <nav id="nav-bar">
      <img class="logo" src="/images/bird.png">
      <span class="header">Map.it</span>
      <img class="submitButton" src="images/button.png"></img>
    </nav>
    <main class="container">
        <section id="user-info">
        <article>
           <span> Profile Picture</span>
           <h1> Username </h1>
             <div>
              <h4> Location </h4>
              <h4> # of maps </h4>
              <h4> Fav maps </h4>
             </div>
         </article>
        </section>
        <section id="user-maps">
        <article class="map">
          <header>
           <h1> Favorite Restaurants in Vancouver </h1>
           <span> @Vancouver, BC </span>
           </header>
             <div> Map Image </div>
           <footer>
             <span> Created 10 days ago by Shannon </span>
             </span>
           </footer>
        </article>
        </section>
    </main>
  </body>
</html>
