body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }


.all-maps {
	height: 100%;
}

  #map {
    height: 500px;
    width: 500px;
    border-radius: 15px;
  }

.map-id {
	height: 500px;
	width: 500px;
	border-radius: 15px;

}

.map-id:hover {
	border: 4px solid #2B2D42;

}


.map {
	float:left;
	margin: 30px;
}

.title {
	margin-left: -250px;
	
}

.container {

	display : flex;
	flex-direction: row;
	margin-left:-200px;
}


.container #article-edit{
	height:100%;
	float: left;
	
}


.container #map-edit {
	height: 750px;
	width: 1250px;
	margin-left: -300px;
	border-radius: 32px;

}

.container #pin-types {
	float: right;
	
	margin: 25px;
	border : 1px solid #2B2D42; 
	border-radius: 16px;
	margin-top: 154px;
}

