body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }


.all-maps {
	height: 100%;
}

  #map {
    height: 500px;
    width: 500px;
    border-radius: 15px;
  }

.map-id {
	height: 500px;
	width: 500px;
	border-radius: 15px;

}	

.map {
	float:left;
	margin: 30px;
}  



#article-edit{
	height:100%;
	float: right;
}


#map-edit {
	height: 800px;
	width: 1200px;
	border-radius: 60px;	
}

