body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }


.all-maps {
	height: 100%;
}

  #map {
    height: 500px;
    width: 500px;
    border-radius: 15px;
  }

.map-id {
	height: 500px;
	width: 500px;
	border-radius: 15px;

}

.map-id:hover {
	
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;

}


.map {
	float:left;
	margin: 30px;
}


