.navbar.navbar-default {
  background-color: #D80032;
}

@font-face {
  font-family: oldMap;
  src: url(OldNewspaperTypes);
}

.navbar-brand {
  /*background-color: oldMap;*/
  background-color: #2B2D42
}
